body
{
  margin: 50px
}
header
{
<<<<<<< HEAD
  width: 100%;
}
#pointit
{
  margin: left;
}
#logo
{
  border-bottom: 7px solid lightblue;
=======
  width: 100%; position: fixed;
>>>>>>> 63e398ad12f64b5fa581e63ccd49a9011070b381
}
