.runko
{
  margin: 40px;
  background-color: #FFA500;
  width: 400px;
  padding: 21px;
}

.sala
{
  padding: 30px;
  margin: 30px;
  background-color: #156482;
  width: 400px;
}

.tutki
{
  margin: 30px;
  padding: 50px;
  background-color: #1bfa30;
  width: 300px;
}
.jako
{
  margin: 0 auto;
  margin-top: 60px;
  padding: 10px;
  background-color: #9390A0;
  width: 350px;
}
.laske
{
  margin: 0 auto;
  background-color: #9DF9EF;
  padding: 20px;
  width: 300px;
  margin-top: 60px;
  box-shadow: 20px 20px 100px red;
}
.seiska
{
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  margin-top: 50px;
  background-color: #8D8B97;
}
.kaksi
{
  margin: 0 auto;
  padding: 20px;
  width: 350px;
  background-color: #FFAAAA;
  margin-top: 50px;
  border-radius: 25px;
  box-shadow: 30px 30px 600px #801515;
  border-style: inset;
}
#button
{
  border-radius: 50%;
  padding: 10px;
  box-shadow: 5px 5px 10px;
}
#button:hover{
  background-color: black;
  color: red;
}
