body
{
  width: 800px;
  margin:auto;
}
header, footer
{
 background-color: #677AA6; 
  padding: 5px 0px 10px 10px;
}
header > h1
{
  color: #Black;
}
nav
{
  width: 200px;
  margin: auto;
  background-color: #677AA6
}
aside
{
  float: right; width: 200px;
  background-color: #BCC9E8
}
section
{
  background-color: #5D9292;
  width: 615px;
}
aside, section
{
  padding: 5px 0px 10px 10px;
}
aside
{
  height: 485px
}
aside > p
{
  padding: 10px;
}
ul{
  list-style-type: none;
}
