.liha
{
font-weight: bolder;
color: navy;
}
body
{
  margin: 50px; background-color: cyan
}
table, th, td
{
border: 1px solid black; background-color: yellow;
}
h2, h3{
color: red;
}
img
{float: right; margin-right: 350px; width: 60px}
